doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Airtable Gallery
    body
        .container
            h1 Airtable Gallery
            .gallery
                each image in images
                    img(src=image.url, alt=image.name)